.HeroBanner{
    height: 100vh !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 850px;
    .HeroBanner-wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        @media(max-width:500px){
            width: 100%;
            padding: 0px 5px;
        }
        .HeroBanner-image{
            text-align: center;
            margin-bottom: 24px;
            @media(max-width:991px){
                margin-bottom: 36px;
            }
            img{
                @media(max-width:500px){
                    width: 80%;
                }
            }
        }
        h1{
            font-size: 96px;
            font-style: normal;
            font-weight: 700;
            line-height: 96px;
            color: white;
            text-align: center;
            margin-bottom: 24px;
            font-family: 'Inter', sans-serif;
            @media(max-width:991px){
                font-size: 40px;
            }
        }
        .subheading{
            color: #FFF;
            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: 'Inter', sans-serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 400;
            line-height: 40px; 
            font-family: 'Inter', sans-serif;
            width: 763px;
            margin-bottom: 48px;
            @media(max-width:991px){
                width: 495px;
                font-size: 24px;
                line-height: 48px;
                margin-bottom: 112px;
            }
            @media(max-width:500px){
                width: 100%;
            }
        }
        .HeroBanner-button{
            border: 1px solid white;
            width: fit-content;
            margin: 0 auto;
            padding: 0px 41px;
            text-transform: uppercase;
            position: relative;
            a{
                text-decoration: none;
                color: #FFF;
                text-align: center;
                font-family: 'Inter', sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 48px; 
                text-transform: uppercase;
            }
        }
    }
}


.CtaModule{
    position: relative;
    height: 432px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    .CtaModule-wrapper{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 100%;
        @media(max-width:767px){
            padding: 0px 20px;
        }
        h3{
            color: white;
            position: relative;
            font-weight: 700;
            padding-bottom: 24px;
            margin-bottom: 24px;
            &::before{
                content: "";
                height: 1px;
                width: 189px;
                position: absolute;
                background: white;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        .CtaModule-content{
            width: 360px;
            color: white;
            margin: 0 auto 48px auto;
            @media(max-width:400px){
                width: 100%;

            }
        }
        .CtaModule-button{
            border: 1px solid white;
            width: fit-content;
            margin: 0 auto;
            padding: 10px 40px;
            text-transform: uppercase;
            margin-top: 30px;
            position: relative;
            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.TwoDifferetSection-wrapper{
    display: flex;
    flex-direction: column;
    @media(max-width:991px){
        .Caffe{
            order: 1;
        }
        .CtaModule{
            order: 2;
        }
    }
}

.Caffe{
    padding: 50px 11px;
    .feature-container{
        display: flex;
        flex-direction: row;
        margin: 0px !important;
        .left-feature, .right-feature{
            display: flex;
            flex-direction: column;
            justify-content: center;
            .feature-content{
                margin-bottom: 48px;
                &:last-child{
                    margin-bottom: 0px;
                }
                .feature-text{
                    .feature-title{
                        h6{
                            margin-bottom: 0px;
                        }
                    }
                    .feature-content{
                        width: 272px;
                        @media(max-width:1440px) and (min-width:991px){
                            width: 100%;
                        }
                        @media(max-width:500px){
                            width: 100%;
                        }
                        p{
                            font-size: 12px;
                        }
                    }
                }
                .feature-img{
                    img{
                        width: 64px;
                        height: 64px;
                    }
                }
            }
        }
        .middle-img{
            display: flex;
            object-fit: contain;
            flex-direction: column;
            justify-content: center;
            @media(max-width:991px){
                align-items: center;
                order: 2;
                margin: 30px 0px;
            }
            img{
                width: 100%;
            }
        }
        .left-feature{
            align-items: end;
            @media(max-width:991px){
                align-items: center;
                order: 3;
            }
            .feature-content{
                .feature-text{
                    text-align: right;
                    margin-right: 16px;
                }
            }
        }
        .right-feature{
            @media(max-width:991px){
                align-items: center;
                order: 1;
            }
            .feature-content{
                .feature-text{
                    text-align: left;
                    margin-left: 16px;
                }
            }
        }
    }
}

.BestSelling{
    padding-top: 50px;
    background-color: #eee;
    @media(max-width:767px){
       padding-bottom: 50px;
    }
    .BestSelling-wrapper{
        .BestSelling-Heading{
            text-align: center;
            width: 483px;
            margin: 0 auto;
            @media(max-width:500px){
                width: 100%;
            }
            h3{
                font-weight: 700;
                position: relative;
                padding-bottom: 24px;
                margin-bottom: 24px;
                &::before{
                    content: "";
                    height: 1px;
                    width: 189px;
                    position: absolute;
                    background: black;
                    bottom: 0px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
        .bestselling_col{
            margin-top: 100px;
            margin-right: 0px !important;
            margin-left: 0px !important;
            @media(max-width:767px){
                flex-direction: column-reverse;
            }
            .left_bestselling, .right_bestselling{
                h5{
                    color: #987D61 !important;
                    font-family: 'Goodmarker', sans-serif;
                    font-size: 40px;
                }
                .wrapper{
                    display: flex;
                    .content{
                        width: 420px;
                        @media(max-width:1500px){
                            width: 100%;
                        }
                        @media(max-width:767px){
                           text-align: center !important;
                           padding: 0px 84px !important;
                           .content{
                            padding: 0px !important;
                           }
                        }
                        @media(max-width:500px){
                            padding: 0px 20px !important;
                            .content{
                                padding: 0px !important;
                            }
                        }
                    }
                    img{
                        @media(max-width:767px){
                            width: 320px;
                            height: 320px;
                            object-fit: contain;
                            margin: 0 auto;
                        }
                        @media(max-width:476px){
                            width: 100%;
                            padding: 0px 20px;
                            
                        }
                    }
                }
            }
            .left_bestselling{
                
                .left_wrapper{
                    @media(max-width:767px){
                        flex-direction: column-reverse;
                        margin-top: 52px;
                    }
                    justify-content: end;
                    .left_bestselling_content{
                        text-align: right;
                        
                    }
                }
            }
            .right_bestselling{
                .right_wrapper{
                    @media(max-width:767px){
                        flex-direction: column;
                    }
                    img{
                        margin-top: -28px !important;
                    }
                    
                }
            }
        }
    }
    
    
}



.Testimonial-wrapper{
    
    #carouselExampleIndicators{
        .carousel-indicators{
                li{
                    width: 11px !important;
                    height: 11px !important;
                    border: 1px solid white;
                    border-radius: 100%;
                    margin: 0px 4px;
                    cursor: pointer;
                    margin-bottom: 96px;
                    @media(max-width:767px){
                        margin-bottom:20px;
                    }
                }
                
                
                .active{
                    background-color: white;
                }
        }
    }
    .carousel-inner{
        height: 574px;
        .carousel-item {
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            .testimonial-card{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                text-align: center;
                @media(max-width:476px){
                    width: 100%;
                    padding: 0px 20px;
                }
                .testiomnial_heading{
                    margin-bottom: 20px;
                    h3{
                        font-size: 40px;
                        font-weight: 700;
                        color: white;
                        position: relative;
                        &::before{
                            content: "";
                            position: absolute;
                            bottom: -15px;
                            width: 150px;
                            height: 1px;
                            background-color: white;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
                    
                .testimonial-content{
                    color: white;
                    opacity: 0.8;
                    margin-bottom: 24px;
                    
                    p{
                        margin-top: 40px;
                    }
                }
                .testimonial-title{
                    color: white;
                    opacity: 0.8;
                }
            }
        }
    }
}


.News{
    background-color: #eee;
    padding: 96px 0px;
    @media(max-width:767px){
        padding: 50px 0px;
    }
    .News-wrapper{
        h3{
            font-weight: 700;
            padding-bottom: 24px;
            margin-bottom: 24px;
            position: relative;
            &::before{
                content: "";
                height: 1px;
                width: 189px;
                position: absolute;
                background: #444;
                bottom: 0px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        text-align: center;
        margin-bottom: 30px;
        .News-content{
            width: 474px;
            margin: 0 auto 48px auto;
            @media(max-width:500px){
                width: 100%;
                padding: 0px 20px;
            }
        }
    }
    .News-Posts{
        padding-left: 30px;
        padding-right: 30px;
        @media(max-width:500px){
            padding-left: 10px;
            padding-right: 10px;
        }
        .News-PostsWrapper{
            .NewsCard{
                margin-bottom: 48px;
                
                p{
                    padding-bottom: 24px;
                }
                .Image{
                    margin-bottom: 24px;
                    img{
                        width: 100%;
                        object-fit: cover;
                        height: 300px;
                    }
                }
                h6{
                    font-weight: bold;
                    text-transform: uppercase;
                    margin-bottom: 0px;
                }
                .button{
                    a{
                        color: black;
                        text-decoration: none;
                        position: relative;
                        padding-left: 14px;
                        font-size: 12px;
                        &::before{
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 50%;
                            width: 10px;
                            height: 1px;
                            background-color: black;
                        }
                    }
                }
            }
        }
    }
}
.feature-content{
    display:flex;
}
